.row {
    display: flex;
    margin-bottom: 6px;
}

.row * {
    margin-right: 6px;
}

.row #fld_column_name {
    width: 200px;
}

.row #drd_data_type {
    width: 200px;
}

.row #fld_blank_percent {
    width: 80px;
}

.row #btn_pattern {
    margin-left: 62px;
    width: 120px;
}

.row #btn_remove {
    width: 120px;
}

.new_row_btn .button {
    width: 120px;
    margin-bottom: 6px;
}